@model ProyectoMicroSQL.Models.Diccionario
@{
    /**/

    ViewBag.Title = "Configuracion";
}

<h2>Configuracion</h2>
<h1>Edicion de Diccionario</h1>

@using (Html.BeginForm("ConfiguracionDiccionarioManual", "MicroSQL", FormMethod.Post, new { enctype = "multipart/form-data" }))
{<table class="table">
        <tr>
            <th>
                SELECT - @Html.DisplayNameFor(model => model.FuncionSelect)
            </th>

            <th>
                @Html.EditorFor(model => model.FuncionSelect, new { htmlAttributes = new { @class = "form-control" } })
            </th>

            <th>
                FROM - @Html.DisplayNameFor(model => model.FuncionFrom)
            </th>

            <th>
                @Html.EditorFor(model => model.FuncionFrom, new { htmlAttributes = new { @class = "form-control" } })
            </th>

            <th>
                DELETE - @Html.DisplayNameFor(model => model.FuncionDelete)
            </th>

            <th>
                @Html.EditorFor(model => model.FuncionDelete, new { htmlAttributes = new { @class = "form-control" } })
            </th>
        </tr>

        <tr>
            <th>
                DROP TABLE - @Html.DisplayNameFor(model => model.FuncionDropTable)
            </th>

            <th>
                @Html.EditorFor(model => model.FuncionDropTable, new { htmlAttributes = new { @class = "form-control" } })
            </th>
            <th>
                WHERE - @Html.DisplayNameFor(model => model.FuncionWhere)
            </th>

            <th>
                @Html.EditorFor(model => model.FuncionWhere, new { htmlAttributes = new { @class = "form-control" } })
            </th>

            <th>
                CREATE TABLE - @Html.DisplayNameFor(model => model.FuncionCreateTable)
            </th>

            <th>
                @Html.EditorFor(model => model.FuncionCreateTable, new { htmlAttributes = new { @class = "form-control" } })
            </th>
        </tr>

        <tr>
            <th>
                INSERT INTO - @Html.DisplayNameFor(model => model.FuncionInsertInto)
            </th>

            <th>
                @Html.EditorFor(model => model.FuncionInsertInto, new { htmlAttributes = new { @class = "form-control" } })
            </th>

            <th>
                VALUE - @Html.DisplayNameFor(model => model.FuncionValue)
            </th>

            <th>
                @Html.EditorFor(model => model.FuncionValue, new { htmlAttributes = new { @class = "form-control" } })
            </th>

            <th>
                GO - @Html.DisplayNameFor(model => model.FuncionGo)
            </th>

            <th>
                @Html.EditorFor(model => model.FuncionGo, new { htmlAttributes = new { @class = "form-control" } })
            </th>
        </tr>
    </table>
    <input type="submit" value="Guardar" class="btn btn-default">
}

<h1>Importacion de Diccionario</h1>
@using (Html.BeginForm("ImportarArchivo", "MicroSQL", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="Post" />
    <input type="submit" value="Importar" class="btn btn-default" />
}
